@{
	Layout = "~/Shared/Layouts/_Layout.cshtml";

	var chisteID = !UrlData[0].IsEmpty() ? UrlData[0] : "0";

	var db = Database.Open("ChistesMalos");
	var sqlSelect = "SELECT * FROM chistes WHERE chisteId = @0";

	var chiste = db.QuerySingle(sqlSelect, chisteID);
    /*comentarios*/
    var sqlSelect2 = "SELECT * FROM comentarios WHERE chisteId = @0 order by comentariid desc";
    var comentarios = db.Query(sqlSelect2,chisteID);

    var comentario="";
    var autor="anonimo";

    if(IsPost)
	{
		autor = Request["autor"];
		comentario = Request["comentario"];
		//Validacion
		Validation.RequireField("comentario", "El comentario del chiste no puede estar en blanco");
		Validation.RequireField("autor", "El autor es obligatorio");

		if(Validation.IsValid())
		{
			var sql = "";
			//Insertar nuevo comentario
				sql = @"INSERT INTO comentarios (autor, comentari,data, chisteID )
						VALUES (@0, @1, @2, @3)";	   
		db.Execute(sql, autor, comentario, DateTime.Now, chisteID);
        Response.Redirect("~/ChisteDetalles/"+chisteID);
		//comentarioId = db.GetLastInsertId().ToString();
        }
    }
}
@if(chiste == null)
{
	<p>
		No ha sido posible recuperar los detalles del chiste.
		Intenta buscarlo en una de las categorias de la izquerda.
	</p>	
}
else
{
	Page.Title = chiste.categoria;
	<text>
		<h1>@chiste.Titulo</h1>
		<div id="productoDetails">
			<p class="precio">@chiste.autor</p><br/>
			<p align="justify">@chiste.chiste</p>
		</div>
		<div id="pedidoForm">
			<fieldset>
				<legend>Compartir</legend>
                <p>@chiste.megusta me gustas</p>
                <a href="../like.cshtml/@chiste.chisteID">Dar me gusta</a>
                <p>
					@GooglePlusOne.PlusOneButton(language: GooglePlusOne.Languages.Spanish)
				</p>
			</fieldset>
		</div>
        <div id="comentariosForm">
            <fieldset>
					<legend>Comentarios</legend>
                    <form action="" method="post" enctype="multipart/form-data">
                        <p>
			                @Html.Label("Comentario: ", "comentario")<br />
			                @Html.TextArea("comentario", comentario, 5, 95, null)
			                @Html.ValidationMessage("comentario")
		                </p>
                        <p>
			                @Html.Label("autor: ", "autor")<br />
			                @Html.TextBox("autor", autor)
			                @Html.ValidationMessage("autor")
                            <input type="submit" value="Enviar" />
                            
		                </p>
				    </form>
                       @if(comentarios.Count()==0){
                           <br/><p>No existen comentarios para este chiste. Animate a ser el primero!</p>
                       }else{
                         <table class="gridcomentario">
	                        @foreach(var comentari in comentarios)
	                        {
		                        <tr>
                                    <th class="gridHeader" >@comentari.autor dice: </th><td class="gridHeader"> @comentari.data</td>
                                </tr>
                                <tr>
			                        <td colspan="2" class="gridAlt" >@comentari.comentari"</td>
			                    </tr>
	                        }
                        </table>  
                       }			
				</fieldset>		
        </div>
	</text>
}
