@{
	Layout = "~/Shared/Layouts/_Layout.cshtml";
	Page.Title = "Página Principal";

    var db = Database.Open("TeleEncuestas");
    var sqlSelect = @"SELECT * FROM Productos 
                      INNER JOIN Settings ON Productos.ProductoID = Settings.ProductoDestacado";

    var producto = db.QuerySingle(sqlSelect);    
}

@if(producto != null)
{
    <h1 class="">Producto destacado</h1>
    <div id="productoDestacadoImagen">
        <p>@Productos.ShowProductoImagen(producto.productoID.ToString())</p>
    </div>
    <div id="productoDestacadoDetalles">
        <a href="~/ProductoDetalles/@producto.productoID"><h2>@producto.titulo</h2></a>
        <p>@producto.descripcion</p>
        <p class="precio">@Formating.Price(producto.precio) €</p>
        <p><a href="~/ProductoDetalles/@producto.productoID" class="detailsButton">Mas detalles</a></p>
    </div> 
}

@{
    sqlSelect = @"SELECT TOP 4 COUNT(productoID) AS productoCount, productoId
                  FROM PedidoItems GROUP BY productoID
                  ORDER BY productoCount DESC";

    var masPopulares = db.Query(sqlSelect);
}

@if(masPopulares.Count() > 0)
{
    <div id="popularProductos">
        <h1>Productos mas populares</h1>
        <ul id="popularProductosList">
            @foreach(var item in masPopulares)
            {
                <li>
                    <a href="~/ProductoDetalles/@item.productoID" class="detailsButton">
                        @Productos.ShowProductoThumbnail(item.productoID.ToString())
                    </a>
                </li>   
            }
        </ul>
    </div>
}
