@helper AccountSummary()
{
	var cartItemCount = 0;
	if(Session["cart"] != null)
	{
		cartItemCount = ((Cart)Session["cart"]).Items.Count;	//Se podria ocultar a esta pagina donde esta almacenado el carrito
	}

   if(WebSecurity.IsAuthenticated) {
   		<text>
			@Gravatar.GetHtml( WebSecurity.CurrentUserName, imageSize: 24, defaultImage:"mm")
			Bienvenido <a href="@Href("~/Account/ChangePassword")">@WebSecurity.CurrentUserName</a> |
			<a href="@Href("~/Cart")">Carrito - @cartItemCount item(s)</a> |
			<a href="@Href("~/Account/Logout")">Cerrar Sesion</a>
			
			@if (Roles.IsUserInRole(WebSecurity.CurrentUserName, "Admin"))
			{
				<text>
				| <a href="@Href("~/Admin/Default")">Admin</a>
				</text>
			}

		</text>
   } else {
   		<text>
			<a href="@Href("~/Account/Login")">Iniciar Sesion</a> |
			<a href="@Href("~/Cart")">Carrito - @cartItemCount item(s)</a> |
			<a href="@Href("~/Account/Register")">Registrarse</a>
		</text>
   }
}