<!DOCTYPE html>

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>ChistesMalos - @Page.Title</title>
		<link href="@Href("~/css/style.css")" rel="stylesheet" />

		@RenderSection("head", required: false)
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
		<div id="page">
			<div id="header">
				<p class="logo"><a href="@Href("~/")">ChistesMalos</a></p>
				<div id="headerRight">
					<div id="accountSummary">@MembershipHelpers.AccountSummary()</div>
					<div id="search">@RenderPage("~/Shared/Partials/_Search.cshtml")</div>
				</div>
			</div>
			<div id="content">
				<div id="categorias">
					@RenderPage("~/Shared/Partials/_Categorias.cshtml")
				</div>
				<div id="main">
					@RenderBody()
				</div>
			</div>
			<div id="footer">
				&copy;@DateTime.Now.Year ChistesMalos. Todos los derechos reservados.
			</div>
		</div>        
    </body>
</html>
