@{
    Layout = "~/Shared/Layouts/_Layout.cshtml";
	Page.Title = "Cambiar contraseña";

	if(!WebSecurity.IsAuthenticated)
	{
		Response.Redirect("~/Default");
	}

	var currentPassword = "";
	var newPassword1 = "";
	var newPassword2 = "";

	if(IsPost)
	{
		currentPassword = Request["currentPassword"];
		newPassword1 = Request["newPassword1"];
		newPassword2 = Request["newPassword2"];

		Validation.RequireField("currentPassword","Requerido.");
		Validation.RequireField("newPassword1","Requerido.");
		Validation.RequireField("newPassword2","Requerido.");
		Validation.Add("newPassword1", Validator.EqualsTo("newPassword2","Las contraseñas no coinciden."));

		if(Validation.IsValid())
		{
			var currentUser = WebSecurity.CurrentUserName;

			if(WebSecurity.ChangePassword(currentUser, currentPassword, newPassword1))
			{
				Response.Redirect("~/Default");
			}
			else
			{
				Validation.AddFormError("No se ha podido cambiar la contraseña.");
			}			
		}

	}
}

<h1>Cambiar contraseña</h1>
@Html.ValidationSummary(excludeFieldErrors: true)
<form action="ChangePassword" method="post" class="accountForm">
	<p>
		@Html.Label("Contraseña actual: ", "currentPassword")<br />
		@Html.Password("currentPassword", currentPassword)
		@Html.ValidationMessage("currentPassword")
	</p>
	<p>
		@Html.Label("Nueva Contraseña: ", "newPassword1")<br />
		@Html.Password("newPassword1", newPassword1)
		@Html.ValidationMessage("newPassword1")
	</p>
	<p>
		@Html.Label("Confirmar nueva contraseña: ", "newPassword2")<br />
		@Html.Password("newPassword2", newPassword2)
		@Html.ValidationMessage("newPassword2")
	</p>
	<p>
		<input type="submit" value="Cambiar contraseña" />
	</p>
</form>