@{
    Layout = "~/Shared/Layouts/_Layout.cshtml";
	Page.Title = "Reset Password";

	var resetToken = Request["resetToken"] ?? "";
	var message = "";
	var newPassword1 = "";
	var newPassword2 = "";

	if(IsPost) {
		newPassword1 = Request["newPassword1"];
		newPassword2 = Request["newPassword2"];

		Validation.RequireField("newPassword1","Necesario.");
		Validation.RequireField("newPassword2","Necesario.");

		Validation.Add("newPassword1", Validator.EqualsTo("newPassword2", "Las constraseñas no coinciden"));

		//Intentar reestablecer la contraseña
		if(Validation.IsValid())
		{
			if(WebSecurity.ResetPassword(resetToken, newPassword1))	{
				message = "Contraseña reestablecida.";
			}
			else {
				"No ha sido posible reestablecer la contraseña.";
			}
		}

	}
}

<h1>Reestablecer constraseña</h1>
@if(!message.IsEmpty()) {
	<p>@message</p>
}
else
{
	<form action="PasswordReset" method="post" class="accountForm">
		@Html.Hidden("resetToken", resetToken)
		<p>
			@Html.Label("Nueva contraseña: ", "newPassword1")<br />
			@Html.Password("newPassword1", newPassword1)
			@Html.ValidationMessage("newPassword1")
		</p>
		<p>
			@Html.Label("Confirmar nueva contraseña: ", "newPassword2")<br />
			@Html.Password("newPassword2", newPassword2)
			@Html.ValidationMessage("newPassword2")
		</p>
		<p>
			<input type="submit" value="Reestablecer contraseña" />
		</p>
	</form>
}


